.cart-item{
    display: flex;
    align-items: center;
    margin: 8px 0px;
}

.cart-item .img-box{
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    background: #00ffc855;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}


.cart-item .img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-item .item-section{
    margin-left: 10px;
}

.cart-item .item-section .item-name{
    font-size: 16px;
    color: #2a2b3c;
}

.cart-item .item-section .item-quantity{
    font-size: 16px;
    color: #2a2b3c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.cart-item .item-section .item-quantity span{
    color: #f8901c;
}

.cart-item .item-section .item-quantity .quantity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 60px;
}

.cart-item .item-section .item-quantity .quantity .item-remove, 
.cart-item .item-section .item-quantity .quantity .item-add{
    color: #2a2b3c;
    font-size: 24px;
}

.cart-item .item-price{
    font-size: 16px;
    font-weight: 600;
    color: #2a2b3c;
    margin-left: auto;
}

.cart-item .item-price .dollar-sign{
    font-size: 12px;
    color: #f8901c;
}

.cart-item .item-price .item-price-value{
    font-size: 16px;
    color: #373848;
}
