.sub-menu-container, .view-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-menu-container h3{
    font-size: 16px;
    font-weight: 600;
    color: #2a2b3c;
}

.sub-menu-container .view-all p{
    font-size: 12px;
    color: #f8913c;
    font-weight: 400;
}


.sub-menu-container .view-all i{
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 5px;
    background: #f8913c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.sub-menu-container .view-all i .MuiSvgIcon-root{
    font-size: 16px;
    color: #faf9fb;
}