.card-group{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.card-logo, .card-chip, .card-number, .card-name, .card-from, .card-to, .card-ring{
    position: absolute;
}

.card-logo{
    width: 60px;
    top: 30px;
    right: 30px;
    height: auto;
}

.card-chip{
    width: 40px;
    height: auto;
    top: 50x;
    left: 30px;
}

.card-number, .card-name, .card-from, .card-to{
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
}

.card-number{
    left: 30px;
    bottom: 60px;
}

.card-name{
    font-size: 12px;
    bottom: 30px;
    left: 30px;
}

.card-from{
    font-size: 12px;
    bottom: 30px;
    right: 90px;
}

.card-to{
    font-size: 12px;
    bottom: 30px;
    right: 30px;    
}

.card-ring{
    height: 400px;
    width: 400px;
    border-radius: 100vw;
    background: transparent;
    border: 50px solid rgba(0, 0, 0, 0.1);
    top: -250px;
    right: -250px;
    box-sizing: border-box;
}

.card-ring::after{
    position: absolute;
    content: '';
    height: 500px;
    width: 500px;
    border-radius: 100vw;
    background: transparent;
    border: 50px solid rgba(0, 0, 0, 0.1);
    top: 185px;
    right: -150px;
    box-sizing: border-box;
}