main{
    width: 100%;
    height: auto;
    background: #faf9fb;
    margin-top: 60px;
}

.main-container{
    width: 100%;
    height: auto;
    background: #faf9fb;
    padding: 10px;
    /* padding-bottom: 100px; */
}

.banner{
    width: 100%;
    height: 130px;
    border-radius: 10px;
    background: url("https://firebasestorage.googleapis.com/v0/b/food-delivery-69e51.appspot.com/o/banner.png?alt=media&token=d713b76e-37c2-4f74-bbdc-5d417e5be20e") no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.banner .banner-image{
    position: absolute;
    right: -60px;
    bottom: -10px;
    width: 240px;
}